<style>
        body {
    margin:0;
    padding:20px 40px;
    background:#fff;
    font:13px Arial, Helvetica, sans-serif;
    color:#333;
    line-height:180%;
}
h1{
    font-size:180%;
    font-weight:normal;
}
h2{
    font-size:160%;
    font-weight:normal;
}
h3{
    font-size:140%;
    font-weight:normal;
}
pre{
    display:block;
    font:12px "Courier New", Courier, monospace;
    padding:10px;
    border:1px solid #bae2f0;
    background:#e3f4f9;
    margin:.5em 0;
    width:500px;
}
.clear{
    clear:both;
}
img{border:none;}

/* notification styles */

#easyNotification{
    padding:5px 10px;
    background:#fffed0;
    border:1px solid #d4d287;
    color:#333;
    position:relative;
}
#easyNotification span{
    float:right;
    cursor:pointer;
}

</style>

