<div class="tweet">
<div class="span1"><span class="tweetimage"><img src="img/gaurav.jpg"/></span></div>
<div class="span11">
<span class="tweetheader">@gauravmunjal</span>
<span class="time">5 mins ago</span>
<span class="tweettext"><%=tweet%></span>
<span class="reply"><a class="btn" href="#">Reply &raquo;</a></span>
</div>
</div>